<!doctype html>
<html>
<head>
    <title>Social Authenticator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
    <style>
        body { padding-top:80px; word-wrap:break-word; }
        ._icons > a, ._icons > a:visited, ._icons > a:hover, ._icons > a:active { color: inherit; }

    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-home"></span> Timeline</h1>
        <a href="/compose" class="btn btn-default btn-sm">
            <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;Compose
        </a>
        <a href="/timeline" class="btn btn-default btn-sm">Timeline</a>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a><br><br>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="row well">
        <div class="col-xs-1">
            <img src="<%= post.image %>"/>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <p>
                    <strong><%= post.name %></strong> <%= post.username %><br>
                    <%- post.text %>
                </p>
            </div>
            <div class="row _icons">
                <i class="fa <%= post.liked ? "fa-thumbs-up" : "fa-thumbs-o-up" %> fa-2x _like" name="like<%= post.id %>"></i> 
                <a href="/reply/<%= post.id %>?type=<%= post.network.icon%>" class="fa fa-reply fa-2x"></a>
                <% if(!post.share) { %>
                  <a href="/share/<%= post.id %>?type=<%= post.network.icon%>" class="fa fa-share-square-o fa-2x _share"></a>
                <% }else{ %>
                  <i class="fa fa-share-square fa-2x _unshare <%= post.network.icon%>" name="<%= post.id %>"></i>
                <% } %> 
                <i name="delete<%= post.id %>" class="fa fa-times fa-2x _delete <%= post.network.icon%> <%= post.id %>"></i>
            </div>
        </div>

    </div>

</div>
</body>
<script>
    $(function() {
        $('._like').click(function() {
          var $this = $(this)
          var id = $this.attr('name').replace('like', '')
          $this.toggleClass('fa-thumbs-o-up')
          $this.toggleClass('fa-thumbs-up')
          if ($this.hasClass('fa-thumbs-up')) {
              $.post('like/' + id)
          } else {
              $.post('unlike/' + id)
          }
        })
        $('._delete').click(function(){
          var $this = $(this)
          var id = $this.attr('name').replace('delete', '')
          if($this.hasClass("facebook")){
            $.post('delete/' + id +"?type=facebook")
          }
          else if($this.hasClass("twitter")){
            $.post('delete/' + id +"?type=twitter")
          }
          $this.parents().eq(2).remove()
        })
        $('._unshare').click(function(){
          var $this = $(this)
          var id = $this.attr('name')
          if($this.hasClass("facebook")){
            $.post('unshare/' + id +"?type=facebook")
          }
          else if($this.hasClass("twitter")){
            $.post('unshare/' + id +"?type=twitter")
          }
          $this.replaceWith('<a href="/share/' + id + '" class="fa fa-share-square-o fa-2x _share"></a>')
        })
    })
</script>
</html>
